{%extends './layout.html'%}
{%block title%}文章编辑{%endblock%}
    
    
{%block body%}
    
    <div class="container">
            
            <form id="myForm">
                <input id="id" type="hidden" value="{{article.id}}">
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{article.title}}">
                </div>
            
                <div class="form-group">
                        <label for="body">文章内容</label>
                        <textarea name="body" id="body" class="form-control" rows="20">{{article.body}}</textarea>    
                </div>    
            
                <button type="submit" class="btn btn-primary pull-right" id="submit">修改</button>
            </form>
            
        </div>
        {%endblock%}   
        
        {%block js%}
    <script data-name="admin/article/edit" src="/public/common/main.js"></script>
    {%endblock%} 
</body>
</html>